footer {
	background-color:#1627b2;
	color:white;
	text-align:center;
	padding-bottom: 20px;
	margin-top:40px;
}
.bg-primary  {
	background-color:#1627b2 !important;
}

main {
	max-width: 960px;
	margin: 0 auto;
	display:block;
}
h2{
	padding-bottom:40px;
	padding-top:40px;
}
header img{
	padding:5px;
}
.gallery .preview{
    width:100%
    height:auto;
}

.gallery .gallery-thumbnails img {
    width:100px;
    height:75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;

}
.contact-icons{
	text-align:center;
}

.contact-icons i{
	font-size: 60px;
	margin-top: 40px;
}

.contact-icons h2{
	margin-bottom: 50px;
}

